<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        bootstrap="test/_bootstrap.php"
        backupGlobals="true">
    <testsuites>
        <testsuite name="Neural-Network Tests">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
</phpunit>